{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    }
  }
}
