{
  "presets": [
    "latest"
  ],
  "env": {
    "production": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    }
  }
}
